.experience-card {
  /* position: relative; */
  cursor: pointer;
}

img.logo {
  border-radius: 10%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.title {
  display: flex;
  align-items: center;
}

.skillset {
  width: 100%;
  height: 10px;
  /* position: absolute; */
  /* bottom: 20px; */
}
