.experience-card {
  height: 400px;
  position: relative;
}

img.logo {
  border-radius: 10%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.title {
  display: flex;
  align-items: center;
}

.skillset {
  position: absolute;
  bottom: 20px;
}
