.project-card {
  min-height: 200px;
  position: relative;
}

.project-card img {
  object-fit: contain;
  margin: 0 auto;
  width: 60%;
}

.project-card .skillset {
  position: absolute;
  bottom: 40px;
}

.project-card .github {
  position: absolute;
  right: 10px;
  top: 10px;
}
