.project-card {
  min-height: 200px;
  position: relative;
}

.project-card img {
  object-fit: contain;
  margin: 0 auto;
  width: 60%;
}

.project-card-title {
  display: flex;
  justify-content: space-between;
}

.project-card .skillset {
  position: absolute;
  bottom: 40px;
}
