@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

.App {
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: #fff;
  color: #2f3337;
  padding-bottom: 50px;
  margin: 0 5%;
}

.section {
  text-align: left;
}

.section:not(#about) {
  padding-top: 70px;
}

@media only screen and (max-width: 900px) {
  .section:not(#about) {
    padding-top: 0;
  }
}

h1,
h2 {
  font-weight: 700;
}

.weight-600 {
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  text-align: left;
}

@media only screen and (min-width: 900px) {
  .header-text {
    max-width: 600px;
  }
}

a.in-text-link {
  text-decoration: none;
}

.grey {
  color: #4c5359;
}

.section-header {
  margin-bottom: 30px;
}

.about-me-text {
  line-height: 2em;
}

.image {
  width: 20%;
}

.image-2 {
  height: 15%;
  width: 15%;
}

.landing-image {
  max-width: min(70%, 500px);
}

.landing-image-icon {
  width: 250px;
  height: 80px;
  margin: 0 auto;
  padding-left: 40px;
}

@media only screen and (max-width: 500px) {
  .landing-image-icon {
    width: 175px;
    padding-left: 0;
  }
}

.profile-image {
  max-width: 85%;
}

.underline {
  background-image: linear-gradient(120deg, #c2d4ff 0%, #c2d4ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.highlight-black {
  background-color: #272727;
  color: white;
  font-weight: 400;
  font-family: "Ubuntu Mono";
}

#projects a {
  color: #2f3337;
  text-decoration: none;
}
