@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

.App {
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

body {
  background-color: #fff;
  color: #2f3337;
  padding-bottom: 50px;
}

.section {
  margin: 0 5%;
  /* min-height: 100vh; */
}

.section:not(#about) {
  padding-top: 70px;
}

@media only screen and (max-width: 900px) {
  .section:not(#about) {
    padding-top: 0;
  }
}

h1 {
  font-weight: 700;
}

.weight-600 {
  font-weight: 600;
}

h2 {
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  /* background-color: #f6f6f3; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: black; */
}

.header-text {
  text-align: left;
}

@media only screen and (min-width: 900px) {
  .header-text {
    max-width: 600px;
  }
}

a.in-text-link {
  color: #709bff;
  font-weight: 600;
  text-decoration: none;
}

.grey {
  color: #4c5359;
}

.section-header {
  margin-bottom: 30px;
}

.text {
  text-align: left;
}

.about-me-text {
  line-height: 2em;
}

.image {
  width: 20%;
}

.image-2 {
  height: 15%;
  width: 15%;
}

.landing-image {
  max-width: min(70%, 500px);
}

.landing-image-icon {
  width: 250px;
  height: 80px;
  margin: 0 auto;
  padding-left: 40px;
}

@media only screen and (max-width: 500px) {
  .landing-image-icon {
    width: 175px;
    padding-left: 0;
  }
}

.profile-image {
  max-width: 85%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.underline {
  background-image: linear-gradient(120deg, #c2d4ff 0%, #c2d4ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.highlight-black {
  background-color: #272727;
  color: white;
  font-weight: 400;
  font-family: "Ubuntu Mono";
}
